@mixin ae-coastal-base {
  border-style: $ae-coastal-border-style;
  border-color: $ae-coastal-border-color;
  background: $ae-coastal-background;
  color: $ae-coastal-color;
}

.ae-coastal {
  @include ae-coastal-base;

  .ae-button {
    @include ae-coastal-base;
    @include ae-highlight($ae-coastal-highlight-color);

    border-style: $ae-button-coastal-border-style;

    &:hover, &:focus {
      background-color: $ae-button-coastal-hover-background-color;
    }
  }

  .ae-input, .ae-input-accept {
    @include ae-highlight($ae-coastal-highlight-color);
    border-color: $ae-input-coastal-border-color;
    border-style: $ae-input-coastal-border-style;
    background: $ae-input-coastal-background-color;
    color: $ae-input-coastal-color;

    &:focus {
      border-color: $ae-input-coastal-focus-border-color;
    }
  }
}

.ae-menu.ae-coastal {
  @extend .ae-coastal;

  background-color: $ae-menu-coastal-background-color;
  opacity: $ae-menu-coastal-opacity;

  .ae-menu-text {
    @include ae-highlight($ae-coastal-highlight-color);
    font-family: $ae-menu-text-coastal-font-family;
  }

  .ember-flex-menu-option-button {
    font-weight: $ae-menu-option-coastal-font-weight;
    font-family: $ae-menu-option-coastal-font-family;
  }
}

.ae-menu-bar.ae-coastal {
  @extend .ae-coastal;
}

.ae-text.ae-coastal {
  opacity: $ae-text-coastal-opacity;
  font-family: $ae-text-coastal-font-family;

  .ae-text-caption {
    @extend .ae-coastal;
    @include ae-highlight($ae-coastal-highlight-color);

    font-family: $ae-text-caption-coastal-font-family;
    font-weight: $ae-text-caption-coastal-font-weight;
  }

  .ae-text, .lxl-letter {
    @include ae-highlight($ae-coastal-highlight-color);
  }
}
